#title {
  color: rgb(16, 73, 13);
  text-align: center;
  font-size: 30px;
}

a {
  color: rgb(21, 98, 168);
}

body {
  text-align: center;
}

ul {
  text-align: left;
}

.link {
  font-size: 30px;
  color: rgb(237, 111, 111);
}
